*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppinsBold",Arial, Helvetica, sans-serif;

}

body{
    background-color: rgb(245, 251, 255);
}

/* header principal de la landing */
header{
    animation: aparecer 3s;
    background-color: #02202f;
    color: white;
    padding: 10px;
    box-shadow: black 2px 3px 4px;
    display: flex;
    justify-content: space-between;
}
.title{
    font-family: "poppinsBold",Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 5px 0 0 10px;
}


header figure{
    display: flex;
    padding: 10px;

    }

figure h1{
    margin-left: 10px;
    font-size: 25px;
    display: flex;
    letter-spacing: 5px;
    text-shadow: white 0 0 4px;
}

#logo_h{
    width: 50px;
    height: 45px;
    border-radius: 15px;
    background-color: aliceblue;

    
}
.sobre_nosotros{
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    padding: 6px;
    
}
.contacto{
    justify-content: center;
    align-items: center;
    padding: 6px;

}


.contain_info_icons{
    display: flex;
    margin-right: 10px;    
}

.sobre_nosotros a{
    text-decoration: none;
    color:aliceblue;
    letter-spacing: 1px;
    padding: 5px;
    border-bottom: solid transparent;
}

.sobre_nosotros a:hover{
    cursor: pointer;
    border-bottom:solid whitesmoke 2px;
    transition:all ease  .6s;
    transform: scale(1.1);
    text-shadow: 0 0 5px whitesmoke;
}
.contacto a{
    text-decoration: none;
    color:aliceblue;
    letter-spacing: 1px;
    padding: 5px;
    border-bottom: solid transparent;

}

.contacto a:hover{
    cursor: pointer;
    border-bottom:solid whitesmoke;
    transition:all ease .6s;
    transform: scale(1.1);
    text-shadow: 0 0 5px whitesmoke;
}
/* hasta aca el header principal */

/* aca empieza la informacion de introduccion, imagen, subtitulos, parrafos */
.subtitle_welcome{
    font-family: "poppinsBold",Arial, Helvetica, sans-serif;
    font-size:45px;
    color: whitesmoke;
    text-shadow: white 0 0 3px;
    margin:0 0 0 20px;
    letter-spacing: 2px;
}

.seccion_introduccion{
    background:linear-gradient( rgba(0,0, 0,0.6),rgba(0,0, 0,0.6)),url(http://127.0.0.1:5500/src/img/salud.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 455px;
    animation: aparecer 3s;
}

.seccion_introduccion p{
    color: whitesmoke;
    margin: 20px 0 0 30px;
    font-size: 18px;
    width: 480px;
    letter-spacing: 2px;
}

.contain_info_introduction{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.img_menu_principal{
    width: 200px;
    height:320px;
    border-radius: 10px;
    margin:0 0 0 100px;
    z-index: 1;
    position: relative;
    left: 60px;
    bottom: 30px;
    transition: all ease .4s;
    box-shadow: white 0 0 4px;

}

.nutritionview{
    width: 180px;
    height:280px;
    border-radius: 10px;
    margin:0px 0px 0 0;
    z-index: 0;
    transition: all ease .5s;
    box-shadow: white 0 0 5px;

}

.seccion_introduccion figure{
    display: flex;
    margin-right: 30px;
}

.nutritionview:hover{
    scale: 1.2;
    transition: all ease .4s;
    z-index: 1;
    position: relative;
    right:20px ;
    box-shadow: white 0 0 10px;
}

.img_menu_principal:hover{
    scale: 1.04;
    transition: all ease .4s;
    z-index: 1;
    box-shadow: white 0 0 10px;
}

.downloadApp{
    text-align: center;
    padding: 10px;
    width: 300px;
    margin:60px 0 0 100px;
    border-radius: 8px;
    border:transparent;
    letter-spacing: 4px;
    box-shadow: whitesmoke 0 0 10px;
    cursor: pointer;
    transition: all ease .4s;
}

.downloadApp:hover{
    transform: scale(1.1);
    transition: all ease .4s;
    background-color: #02202f;
    color: aliceblue;
    border: none;
    text-shadow: 0 0 7px whitesmoke;
}
/* hasta aca llega la seccion de introduccion */
/* secciones y funcion que posee healthypath */
.figOne, .figTwo, .figTree, .figFourth{
    margin: 20px 20px 40px 25px;
    height: 315px;
    width: 220px;
    background-color: #30819b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}
.figOne img, .figTwo img, .figTree img, .figFourth img{
    width: 200px;
    height: 270px;
    border-radius: 10px;
    border: none;
}

.figOne h4, .figTwo h4, .figTree h4, .figFourth h4{
    color: white;
    margin-top: 5px;
}

.funcion_healthypath{
    margin: 30px;
}
.funcion_healthypath header{
    padding: 20px;
    max-width: fit-content;
    background-color: rgb(248, 254, 255);
    border-radius: 10px;
    box-shadow: 0 0 5px darkslategray;
}

.funcion_healthypath header h3{
    color: darkslategray;
    text-shadow: darkslategray 0 0 2px;
    letter-spacing: 2px;
}

.funcion_healthypath p{
    margin: 20px 0 0 30px;
    text-align: justify;
    letter-spacing: 1.5px;
    width: 900px;
    text-align: center;
}
.dispone{
    margin: 30px 0 0 0;
    padding: 20px;
    background-color:rgb(248, 254, 255) ;
    border-radius: 10px;
    box-shadow: 0 0 5px darkslategray;
    color: darkslategray;
    text-shadow: darkslategray 0 0 2px;
    letter-spacing: 2px;
    max-width: fit-content;

}



.sueno_box, .menu_box, .nutrition_box, .recomen_box, .activity_box{
    display: flex;
    background-color: rgb(239, 236, 236);
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 40px 20px 0px;
    box-shadow: 0 0 6px darkslategray;
}

.menu_box, .recomen_box, .mover_activitybox{
    animation: ap_left  ;
    animation-timeline: view();
    animation-range: entry 0;
    margin-left: 40px;
}

.sueno_box h5, .menu_box h5, .nutrition_box h5, .recomen_box h5, .activity_box h5{
    display: flex;
    align-items: center;
    font-size: 21px;
    color: darkslategray;
    text-align: justify;
    margin-right: 15px;
    font-style: italic;
}

.mover_suenobox, .mover_nutrition{
    display: flex;
    justify-content: right;
    animation: ap_right;
    animation-timeline: view();
    animation-range: entry 0% ;


}
/* Carrusel de imagenes */
.section_carrusel{
    margin:  50px 40px;
    display: flex;
    justify-content: center;
}

.carrusel_caps{
    display: flex;
    border-radius: 12px;
    border: none;
    background-color: rgb(239, 236, 236);
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 600px;
    
}
.carrusel_caps img{
    width:0;
    height: 420px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: all ease .4s;
    border-radius: 2px;
}

.carrusel_caps img:hover{
    opacity: 1;
    width: 80px;
    filter: contrast(120%);
    cursor: crosshair; 
}

.subtitulo_carrusel{
    padding: 20px;
    max-width: fit-content;
    background-color: rgb(248, 254, 255);
    border-radius: 10px;
    box-shadow: 0 0 5px darkslategray;
    color: darkslategray;
    text-shadow: darkslategray 0 0 2px;
    letter-spacing: 2px;
    margin: 30px 0px 0 40px;
}

.box_infoimportant{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px 40px;  
}

.box_infoimportant article{
    background-color:rgb(239, 236, 236) ;
    width: 320px;
    height: 210px;
    border-radius:10px ;
    box-shadow: 0 0 10px darkslategray;
    margin: 10px 20px;
    padding: 15px;
}

.box_infoimportant .objetivo, .mision, .vision{
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
    text-shadow: 0 0 8px whitesmoke;
}
.objetivo h4{
    background-color: #f7ad19;
    border-radius: 6px;
    color: white;
    text-shadow: 0 0 8px whitesmoke;
}
.mision h4{
    background-color: #30819b;
    border-radius: 6px;
    color: white;
}
.vision h4{
    background-color:#02202f;
    border-radius: 6px;
    color: white;
}
.vision p, .mision p, .objetivo ul{
    font-size: 10px;
    text-align: start;
    font-weight: lighter;
    padding: 8px;
    text-shadow: none;
    margin-top: 5px;
}
.vision p{
    line-height: 2;
}

.mision,.vision, .objetivo{
    filter: blur(5px);
}

.mision:hover, .vision:hover, .objetivo:hover{
    cursor: crosshair;
    filter: blur(0);
    transition: all ease .4s;
    transform: scale(1.1);

}
#touch{
    height: 20px;
    width: 25px;
}
.subtitulo_organigrama{
    padding: 20px;
    max-width: fit-content;
    font-size: 20px;
    background-color: rgb(248, 254, 255);
    border-radius: 10px;
    box-shadow: 0 0 5px darkslategray;
    color: darkslategray;
    text-shadow: darkslategray 0 0 2px;
    letter-spacing: 2px;
    margin: 40px 0 40px 40px;
    border: transparent;
}

.organigramaimg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
}
.organigramaimg img{
    width: 700px;
    height: 450px;
    box-shadow: 0 0 10px darkslategray;
    object-fit: cover;
    border-radius: 10px;
    
}
.box_serv_sol{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.servicios, .soluciones{
    background-color:rgb(239, 236, 236) ;
    width: 350px;
    height: 380px;
    border-radius:10px ;
    box-shadow: 0 0 10px darkslategray;
    margin: 10px 20px;
    padding: 15px;
}
.servicios h4, .soluciones h4{
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
    text-shadow: 0 0 8px whitesmoke;
    background-color: #02202f;
    color: aliceblue;
    border-radius: 5px;
    padding: 4px;
    
}

.servicios p, .soluciones p{
    font-size: 12px;
    text-align: start;
    font-weight: lighter;
    padding: 8px;
    letter-spacing: 2px;
    text-shadow: none;
    margin-top: 15px;
    line-height: 1.8;
}
hr{
    background-color: rgba(119, 119, 119, 0.39);
}
footer{
    text-indent: 20px;
    text-align: justify;
}

footer h4{
    font-size: 20px;
    border-radius: 10px;
    color: darkslategray;
    text-shadow: darkslategray 0 0 2px;
    letter-spacing: 2px;
    margin:20px 10px ;
}
footer p{
    text-indent: 40px;
    color: #02202f;
}
/* animaciones e importacion de fuentes*/
@font-face{
    font-family: "poppins";
    src: url(http://127.0.0.1:5500/src/fonts/poppins/Poppins-Italic.ttf) format("truetype");

}

@font-face{
    font-family: "poppinsBold";
    src: url(http://127.0.0.1:5500/src/fonts/poppins/Poppins-Bold.ttf) format("truetype");

}

@keyframes ap_left{
    from{
        opacity: 0;
        visibility: hidden;
        transform: scale(0.2);
    }
    to{
        opacity: 1;
        visibility: visible;
        transform: scale(1);

    }
    
}
@keyframes ap_right{
    from{
        opacity: 0;
        visibility: hidden;
        transform: scale(0.2);
        transform: translate(100);
    }
    to{
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        transform: 0;

    }
    
}

@keyframes aparecer{
    from{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}